# 01. Importing Libraries

In [4]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [27]:
path = r'Users/mitchellkubik/Desktop/08-2023 Instacart Basket Analysis'

In [5]:
df_prods = pd.read_csv(path, '02 Data' 'Original Data', products.csv', 
                 index_col = False)

In [6]:
df_ords = pd.read_csv(r'/Users/mitchellkubik/Desktop/08-2023 Instacart Basket Analysis/02 Data/Prepared Data/orders_wrangled.csv', index_col = False)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/mitchellkubik/Desktop/08-2023 Instacart Basket Analysis/02 Data/Prepared Data/orders_wrangled.csv'

# 03. Descriptive Statistics

In [7]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [8]:
df_ords.describe()

NameError: name 'df_ords' is not defined

# 04. Test Dataframe

In [9]:
# Create a dataframe

df_test = pd.DataFrame()

In [10]:
# Creat a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [11]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [12]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [13]:
df_test['mix'] = df_test['mix'].astype('str')

In [14]:
# Search for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
# Create subset of df to view missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [16]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

# 05. Address Missing Values

In [17]:
# Find median values if there are outlier values
df_prods.median()

/tmp/ipykernel_51891/1752033096.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_prods.median()

product_id       24845.0
aisle_id            69.0
department_id       13.0
prices               7.1
dtype: float64

In [18]:
df_prods.shape

(49693, 5)

In [19]:
# Create new dataframe with missing values dropped
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [20]:
# Confirm new dataframe has 16 less rows than df_prods
df_prods_clean.shape

(49677, 5)

# 06. Duplicates

In [21]:
# Finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [22]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [23]:
df_prods_clean.shape

(49677, 5)

In [24]:
# Create new dataframe that doesn't include the duplicates you identified
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [25]:
df_prods_clean_no_dups.shape

(49672, 5)

In [26]:
df_prods_clean_no_dups

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5